 div{
    margin-left: 80px;
    font-family:Arial, Helvetica, sans-serif;

 }
 /* h3{
     color: #15284c;
     text-align: justify;
 } */
 
 table, th, td {
   
    border-collapse: collapse;
    
  } */